  <!-- Modal -->
  <div class="modal fade" id="detailJabatanModal" tabindex="-1" aria-labelledby="detailJabatanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content text-justify">
        <div class="modal-header centered ">
          <h5 class="modal-title" id="detailJabatanModalLabel"></h5>

        </div>
            <div class="modal-body text-center">
                <img  class="foto" alt="fotoUrl" width="100%">
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
      </div>
    </div>a
  </div>