  <!-- Modal -->
  <div class="modal fade" id="hapusModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-justify">
        <div class="modal-header centered ">
          <h5 class="modal-title" id="hapusModalLabel"></h5>

        </div>
        <form class="action"  method="POST">
            <div class="modal-body text-center">
              <h1 class="h1 text-danger"><i class="fas fa-times-circle fa-lg  text-justify"></i></h1>
              <p class="hapusDetail"></p>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button type="submit" class="btn btn-danger">Hapus</button>
            </div>
        </form>
      </div>
    </div>a
  </div>