<!-- Modal -->
<div class="modal fade" id="editGolonganModal" tabindex="-1" aria-labelledby="editGolonganModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editGolonganModalLabel">Edit Golongan Pengabdi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="needs-validation"  action="/admin/pengabdi/golongan/<%= pengabdi.id %>/?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
          <div class="modal-body">
            <div class="form-group">
              <label for="golongan">Pangkat / Golongan</label>
              <select class="form-control golonganId" name="golonganId" required>
                  <option selected disabled>-- Pilih Golongan --</option>
                  <% for(let i = 0; i < golongan.length; i++ ) { %>
                    <option value="<%= golongan[i].id %>"><%= golongan[i].pangkat %> / <%= golongan[i].golongan %> </option>
                  <% } %>
                </select>
                <div class="invalid-feedback">Golongan wajib dipilih</div>
            </div>
            <div class="form-group">
              <label for="tmtgolongan">TMT Golongan</label>
              <input type="date" class="form-control tmtGolongan" id="tmtgolongan" name="tmtGolongan" placeholder="Input TMT" required>
              <div class="invalid-feedback">TMT Golongan wajib diinputkan</div>
            </div>
            <div class="form-group">
              <label for="pejabatPengesah">Pejabat Pengesah</label>
              <input type="text" class="form-control pejabatPengesah" id="pejabatPengesah" name="pejabatPengesah" placeholder="Input Pejabat Pengesah" required>
              <div class="invalid-feedback">
                Pejabat Pengesah wajib diinput
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6 col-sm-12 col-12">
                  <label for="nomorSk">Nomor SK</label>
                  <input type="text" class="form-control nomorSk" id="nomorSk" name="nomorSk" placeholder="Input Nomor SK" required>
                  <div class="invalid-feedback">
                    Nomor SK wajib diinput
                    </div>
              </div>
                <div class="form-group col-lg-6 col-sm-12 col-12">
                  <label for="tanggalSk">Tanggal SK</label>
                  <input type="date" class="form-control tanggalSk" id="tanggalSk" name="tanggalSk" placeholder="Input Tanggal SK" required>
                  <div class="invalid-feedback">
                    Tanggal SK wajib diinput
                    </div>
              </div>
          </div>
          <div class="form-group">
            <label for="fotoUrl">Scan SK</label>
            <input type="file" accept=".jpg,.jpeg,.gif,.png" class="form-control fotoUrl" id="fotoUrl" name="fotoUrl" placeholder="Input Foto">
            <div class="invalid-feedback fotoValid"></div>
          </div>
        </div>
          <div class="modal-footer">
            <input type="hidden" class="idPengabdi" name="idPengabdi">
            <input type="hidden" class="id" name="id">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>