  <!-- Modal -->
  <div class="modal fade" id="naikPangkatModal" tabindex="-1" aria-labelledby="naikPangkatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content text-justify">
        <div class="modal-header centered ">
          <h5 class="modal-title" id="naikPangkatModalLabel">Jadwal Kenaikan Pangkat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Periode</th>
                          <th>Tanggal Kenaikan Pangkat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (pengabdi.tmtGolongan) { %>
                        <% if (pengabdi.jenisPengabdiId[0].bagian == "Akademik"){  pn = 60 } else {  pn = 56 } %>
                        <% let pensiun =  pengabdi.tanggalLahir.getFullYear() + pn %>
                        <% let tmt =  pengabdi.tmtGolongan.getFullYear()%>
                        <% let x = 0 %>

                        <% for(let i=0; i < 100; i++ ) { %>
                        <% x = x+4; %>
                        <% if ( tmt+x <= pensiun) { %>
                        <% var bulan = ['Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']; %>
                        <% var xbulan = pengabdi.tmtGolongan.getMonth(); %>
                        <% var bulan = bulan[xbulan]; %>
                        <tr>
                            <td>Periode <%= i+1 %></td>
                            <td><%= `${pengabdi.tmtGolongan.getDate()} ${bulan} ${tmt+x}` %></td>
                        </tr>
                        <% } } }%>
                      </tbody>
                    </table>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
      </div>
    </div>a
  </div>